body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    
}
.parent{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    height: 100vh;
    width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho */
}