<div class="parent mt-4">
    <div class="container" id="container" style="margin-left: 150px;">
        <div class="mt-2">
            <mat-grid-list cols="4" rowHeight="3:5" gutterSize="10">
                <mat-grid-tile *ngFor="let p of productDetails">
                   <div class="product-card">
                      <div class="image-container">
                         <img class="home-page-product-image" [src]="p.productImages[0].url" alt="">
                      </div>
                      <div class="mt-1">
                        <p><b>{{p.productName}}</b></p>
                     </div>
                     
                      <div class="mt-1 product-description">
                         <p>{{p.productDescription}}</p>
                        </div>
                      <div class="mt-1">
                        <b> {{p.productDiscountedPrice}} COP</b>    
                         <b style="text-decoration: line-through;">{{p.productActualPrice}} COP</b>
                      </div>
                      <div>
                         <button type="button" mat-raised-button color="warn" (click)="showProductDetails(p.productId ?? 0)">View Details</button>
                      </div> 
                   </div>
                </mat-grid-tile>
              </mat-grid-list>
        </div>
    </div>
</div>
