@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 1000px;
    max-width: 100%;
    min-height: 510px;
    display: flex;
    flex-direction: column;
    padding: 20px; /* Ajuste de padding */
}

.mat-grid-tile {
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

.image-container{
     position: relative;
     height: 200px;
}

.home-page-product-image {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.container button {
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 5px 24px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 400;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}


.product-description {
    display: -webkit-box;
    line-clamp: 3; /* Número de líneas que quieres mostrar */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 4.5em; /* Ajusta según el número de líneas y el tamaño de la fuente */
}

